<html>
  <head>
    <title>login page</title>
  </head>
  <body>
    <h1>login</h1>
    <form action="/login" method="POST">
      <input name="username" type="text" ,value="快点过来" />
      <input name="password" type="text" ,value="快点过来" />
      <input name="Login" type="submit" ,value="快点过来" />
    </form>
  </body>
</html>
